* {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 85%;
    padding-bottom: 12rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  
  #breadcrumb {
    font-size: 1.1rem;
    font-weight: 700;
    color: #404040;
  }
  
  #breadcrumb a {
    text-decoration: none;
    color: #404040;
  }
  
  #breadcrumb a:hover {
    text-decoration: underline;
  }

  /* ------------ PRODUCT IMAGE ----------- */
  .product-img {
    display: flex;
    width: 45%;
  }

  .thumbnail-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  .thumbnail {
    width: 54px;
    height: 54px;
    margin-bottom: 1.3rem;
  }

  .img-view-container {
    width: 29vw;
    height: 59vh;
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
  }

  #img-view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    height: 50%;
  }


  /* -------- PRODUCT DETAIL -----------*/
  .product-detail {
    width: 52%;
    /* background-color: rgb(124, 255, 24); */
  }

  .product-detail h2 {
    font-size: 1.3em;
    font-weight: 900;
  }

  .product-desc {
    height: 38vh;
  }

  .product-desc p {
    margin: 1rem 0;
    font-size: 1.1rem;
    text-align: justify;
  }

  .product-detail h3 {
    font-size: 2rem;
    font-weight: 900;
    color: #FF0000;
  }

  /* --- RATING --- */
  .rating {
    margin: 0.6rem 0;
    display: inline-block;
    font-size: 0;
  }
  
  .star-container {
    position: relative;
    display: inline-block;
  }
  
  .star {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.3rem;
    background-image: url('aset/empty_rating_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .star.filled {
    background-image: url('aset/rating_icon.png');
  }
  
  .star.half-filled {
    background-image: url('aset/half_rating_icon.png');
  }
  


  /* --- PRODUCT QUANTITY & BUY BUTTON --- */
  .quantity-buy-container {
    width: 43%;
    display: flex;
    justify-content: space-between;
  }

  .quantity-container {
    width: 145px;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #DADADA;
    border-radius: 4px;
  }
  
  #quantity {
    border: none;
    outline: none;
    width: 50px;
    height: 15px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  #quantity::-webkit-inner-spin-button,
  #quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .quantity-btn {
    width: 20px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-btn button {
    height: 100%;
    width: 75px;
    /* height: 30px; */
    letter-spacing: 0.045em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #609966;
  }

  /* --- ADD TO WISHLIST & CART --- */
  .wish-cart {
    width: 57%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wish::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #808080;
    margin-right: 10px;
}

  .wish-cart img {
    width: 20px;
    height: 20px;
  }

  .wish-cart p {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .wish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-right: 1px solid #808080; */
  }
  
  .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* --------- SEPERATER ------------ */
  .seperater {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .seperater h3 {
    font-size: 1.3rem;
    margin-right: 1.3rem;
  }
  
  .seperater::after {
    content: "";
    flex-grow: 1;
    height: 1.3px;
    background-color: #DADADA;
  }

  /* ----------- RELATED PRODUCT ------------ */
  #product-that-related {
    position: relative;
    right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 28px;
  }
  
  .product-related-container {
    position: relative;
  }
  
  .the-related-product {
    width: 180px;
    height: 300px;
    margin: 0 10px 20px;
    padding: 20px;
    border: 1px solid #DADADA;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.09);
    /* background-color: aquamarine; */
  }
  
  .related-wish-list {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 25px;
    z-index: 99;
  }
  
  .related-product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
  }
  
  .related-product-brand-name {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    flex-grow: 1;
  }
  
  .related-product-name {
    font-size: 14px;
    color: #40513B;
    height: 65px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .related-prWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .related-product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #e91e63;
  }
  
  .related-rating-wrapper {
    display: flex;
  }
  
  .related-rating-icon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
  
  .related-product-rating {
    /* font-size: 1.2em; */
    font-weight: 700;
  }
  

  /* ------- RELEVAN REVIEW ------- */
  
  .relevan-txt {
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: 1.3rem;
  }

  .relevan-review {
    display: flex;
    justify-content: space-between;
  }

  .review {
    width: 48%;
    min-height: 30vh;
    background-color: #F2F2F2;
    display: flex;
  }

  .profile-rating {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #eb7979; */
  }

  .profile-rating img {
    margin-top: 1.7rem;
    margin-bottom: 0.6rem;
    width: 4rem;
  }

  .review-content {
    width: 65%;
    max-height: 10rem;
    font-size: 1.1rem;
    text-align: justify;
    word-wrap: break-word;
    /* background-color: #f1cccc; */
  }

  .review-content h4 {
    margin-top: 1.7rem;
    margin-bottom: 0.3rem;
  }


  /* ---------- ALL REVIEW ----------*/
  
  .all-review h3{
    width: 10%;
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 3px solid #40513B;;
  }

  .all-reviews-container {
    display: flex;
    justify-content: space-between;
  }

  .promotion-img {
    width: 48vw;
    height: 50vh;
  }

  .real-reviews-container {
    width: 40%;
  }

  .real-reviews-container .review2 {
    width: 100%;
    font-size: 0.8rem;
  }

  .real-reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .review2 {
    min-height: 27vh;
    margin-bottom: 1rem;
    background-color: #F2F2F2;
  }

  .review2 p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  .wrapper1 {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    font-size: 1.1rem;
  }

  .wrapper1 img {
    width: 3rem;
  }

  .wrapper2 {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper2 h4 {
    margin-bottom: 0.2rem;
  }

  .see-all-btn {
    width: 7rem;
    margin-left: 72.5%;
    min-height: 2.5rem;
    font-size: 1.1rem;
    color: #808080;
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 8px;
  }