* {
    margin: 0;
    padding: 0;
  }
  
  .search-results {
    margin-top: 7rem;
    padding-bottom: 150px;
  }
  
  #breadcrumb {
    margin-left: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #404040;
  }
  
  #breadcrumb a {
    text-decoration: none;
    color: #404040;
  }
  
  #breadcrumb a:hover {
    text-decoration: underline;
  }
  
  
  /* --- WRAPPER --- */
  .wrapper {
    margin-top: 2rem;
    display: flex;
  }
  
  /*------------ FILTER SECTION ---------*/
  
  #filter {
    /* background-color: aqua; */
    width: 25%;
    margin-left: 30px;
    display: none;
  }
  
  #filter h2 {
    padding: 5px 0;
    margin-left: 35px;
  }
  
  .filter-section {
    margin: auto;
    width: 80%;
    border: 3px solid #ddd;
  }
  
  .filter-section:first-of-type {
    border-bottom-width: 1.5px;
    border-radius: 12px 12px 0 0;
  }
  
  .filter-section:last-child {
    border-top-width: 1.5px;
    border-radius: 0 0 12px 12px;
  }
  
  
  .filter-section h3, .checkbox-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .checkbox-group {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .checkbox-group label input {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  
  /*---------- SEACRH RESULT SECTION ------------ */
  .product-not-found {
    font-size: 1.5em;
  }
  
  .ksp {
    width: 62%;
    margin-top: 0.5rem;
    margin-left: 60px;
  }
  
  .sorting {
    right: 0;
    width: 18%;
    margin-bottom: 0.5rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .sorting select {
    outline: none;
  }

  #productList {
    position: relative;
    right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 23px;
  }
  
  .product-container {
    position: relative;
  }
  
  .product {
    width: 180px;
    height: 300px;
    margin: 0 10px 20px;
    padding: 20px;
    border: 1px solid #DADADA;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.09);
  }
  
  .wish-list {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
  }
  
  .product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
  }
  
  .product-brand-name {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 14px;
    color: #40513B;
    height: 65px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .prWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #e91e63;
  }
  
  .rating-wrapper {
    display: flex;
  }
  
  .rating-icon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
  
  .product-rating {
    /* font-size: 1.2em; */
    font-weight: 700;
  }